@import "../styles/vars.scss";

.MsgList {
  padding: 0.3rem;
  display: flex;
  flex-flow: column;
  overflow-y: auto;
  .MsgListItemContainer {
    width: inherit;

    .UserName {
      font-size: 0.8rem;
    }
    &.self {
      align-self: flex-end;
      .MsgListItem {
        background-color: $self-text-bg;
        color: $black;
      }

      .UserName {
        color: $self-text-bg;
      }
    }

    &:not(.self) {
      align-self: flex-start;
      .UserName {
        color: #e6e6fa;
      }
    }
    .MsgListItem {
      width: inherit;
      background-color: #e6e6fa;
      height: max-content;
      margin: 4px 0;
      border-radius: 4px;

      .MsgListItemValue {
        width: inherit;
        border-radius: 0.4em;
        font-size: 18px;
        display: flex;
        padding: 5px;

        &Text {
          margin-right: 0.8em;
        }

        &Time {
          font-size: 10px;
          align-self: flex-end;
        }
      }
    }
  }

  // Hide scrollbar
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
