@import "../styles/vars.scss";

.chat-window {
  min-height: 300px;
  width: inherit;
  height: inherit;
  background-color: $white;
  display: grid;
  grid-template-rows: 1fr 60px;
  background-color: $chat-bg-color;
}
