@import "../styles/vars.scss";
.UserPrefContainer {
  max-width: 90vw;
  margin: 0 auto;
  margin: 10 auto;
  width: 30rem;
  margin-top: calc(100vh / 3);

  .InputContainer {
    margin: 2rem 0;
    .InputName {
      display: grid;
      .Label {
        font-size: 2rem;
        margin-bottom: 5px;
        text-align: center;
        margin-bottom: 0.5em;
      }
      .Input {
        height: 30px;
      }
    }
  }

  .ActionContainer {
    display: grid;
    .Button {
      width: inherit;
      padding: 0.5rem;
      background-color: $chat-bg-color;
      color: $white;
      cursor: pointer;
      font-size: 1.5rem;
    }
  }
}
